/*==================================================
=                 General colors             	   =
==================================================*/
/*==================================================
=                 Bootstrap colors             	   =
==================================================*/
/* line 26, ../sass/common/_bootstrapCustom.scss */
.btn-default {
  background: #ededed;
  border-color: lightgrey;
}
/* line 31, ../sass/common/_bootstrapCustom.scss */
.btn-default:hover, .btn-default:focus {
  background-color: lightgrey;
}
/* line 36, ../sass/common/_bootstrapCustom.scss */
.btn-default:active, .btn-default.active {
  background-color: lightgrey;
  border-color: #a1a1a1;
}

/* line 47, ../sass/common/_bootstrapCustom.scss */
.btn-primary {
  background: #1296d4;
  border-color: #0e75a5;
}
/* line 52, ../sass/common/_bootstrapCustom.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #0e75a5;
}
/* line 57, ../sass/common/_bootstrapCustom.scss */
.btn-primary:active, .btn-primary.active {
  background-color: #0e75a5;
  border-color: #063247;
}

/* line 68, ../sass/common/_bootstrapCustom.scss */
.btn-success {
  background: #1cb555;
  border-color: #158940;
}
/* line 73, ../sass/common/_bootstrapCustom.scss */
.btn-success:hover, .btn-success:focus {
  background-color: #158940;
}
/* line 78, ../sass/common/_bootstrapCustom.scss */
.btn-success:active, .btn-success.active {
  background-color: #158940;
  border-color: #083017;
}

/* line 89, ../sass/common/_bootstrapCustom.scss */
.btn-info {
  background: #86d8e9;
  border-color: #5bcae1;
}
/* line 94, ../sass/common/_bootstrapCustom.scss */
.btn-info:hover, .btn-info:focus {
  background-color: #5bcae1;
}
/* line 99, ../sass/common/_bootstrapCustom.scss */
.btn-info:active, .btn-info.active {
  background-color: #5bcae1;
  border-color: #219cb5;
}

/* line 110, ../sass/common/_bootstrapCustom.scss */
.btn-warning {
  background: #d3b051;
  border-color: #c09a31;
}
/* line 115, ../sass/common/_bootstrapCustom.scss */
.btn-warning:hover, .btn-warning:focus {
  background-color: #c09a31;
}
/* line 120, ../sass/common/_bootstrapCustom.scss */
.btn-warning:active, .btn-warning.active {
  background-color: #c09a31;
  border-color: #6f591c;
}

/* line 131, ../sass/common/_bootstrapCustom.scss */
.btn-danger {
  background: #982626;
  border-color: #6f1c1c;
}
/* line 136, ../sass/common/_bootstrapCustom.scss */
.btn-danger:hover, .btn-danger:focus {
  background-color: #6f1c1c;
}
/* line 141, ../sass/common/_bootstrapCustom.scss */
.btn-danger:active, .btn-danger.active {
  background-color: #6f1c1c;
  border-color: #1e0707;
}

/* line 180, ../sass/common/_bootstrapCustom.scss */
.panel-primary > .panel-heading {
  background-color: #1296d4;
  border-color: #0e75a5;
}

/*==================================================
=                     Helpers                      =
==================================================*/
/* line 5, ../sass/common/_helper.scss */
.text-strong {
  font-weight: bold;
}

/* line 1, ../sass/common/_general.scss */
* {
  outline: 0 !important;
}

/* line 5, ../sass/common/_general.scss */
a {
  text-decoration: none !important;
}

/* line 9, ../sass/common/_general.scss */
.btn-search {
  border-radius: 0;
  border-left: 0;
}

/* line 14, ../sass/common/_general.scss */
.dropdown-menu {
  min-width: 80px;
}

/* line 1, ../sass/common/_navbar.scss */
.navbar {
  /*
  *
  * User panel on navbar
  * 
  */
}
/* line 8, ../sass/common/_navbar.scss */
.navbar .dropdown-user > li > div {
  min-width: 305px;
  padding: 10px 10px 0 10px;
}
/* line 11, ../sass/common/_navbar.scss */
.navbar .dropdown-user > li > div .text-strong {
  text-transform: capitalize;
}
/* line 15, ../sass/common/_navbar.scss */
.navbar .dropdown-user > li > div img {
  height: 80px;
  width: 80px;
}
/* line 22, ../sass/common/_navbar.scss */
.navbar .session {
  padding: 0 10px;
}

/* line 4, ../sass/common/_form.scss */
.ng-invalid.form-control {
  border-color: #d42d2d;
}
/* line 6, ../sass/common/_form.scss */
.ng-invalid.form-control:focus, .ng-invalid.form-control:active {
  -webkit-box-shadow: 0 1px 1px #eeacac inset;
  -moz-box-shadow: 0 1px 1px #eeacac inset;
  box-shadow: 0 1px 1px #eeacac inset;
}

/* line 3, ../sass/pages/_admin.scss */
.admin .navbar {
  margin-bottom: 0;
}
/* line 9, ../sass/pages/_admin.scss */
.admin .navbar-right li {
  display: inline-block;
}
/* line 12, ../sass/pages/_admin.scss */
.admin .navbar-right li:last-child {
  margin-right: 15px;
}
/* line 16, ../sass/pages/_admin.scss */
.admin .navbar-right li a {
  padding: 15px 5px;
  min-height: 50px;
}
/* line 20, ../sass/pages/_admin.scss */
.admin .navbar-right li a:hover, .admin .navbar-right li a:focus, .admin .navbar-right li a:target, .admin .navbar-right li a:active {
  background: transparent;
}
/* line 24, ../sass/pages/_admin.scss */
.admin .navbar-right li a i {
  font-size: 1.5em;
}
/* line 34, ../sass/pages/_admin.scss */
.admin .leftbar ul li {
  border-bottom: 1px solid #e7e7e7;
}
/* line 36, ../sass/pages/_admin.scss */
.admin .leftbar ul li a.active {
  background-color: #eee;
}
/* line 42, ../sass/pages/_admin.scss */
.admin .leftbar .nav-second-level li,
.admin .leftbar .nav-third-level li {
  border-bottom: 0 !important;
}
/* line 46, ../sass/pages/_admin.scss */
.admin .leftbar .nav-second-level li a {
  padding-left: 37px;
}
/* line 50, ../sass/pages/_admin.scss */
.admin .leftbar .nav-third-level li a {
  padding-left: 52px;
}

/* line 1, ../sass/pages/_login.scss */
.login {
  margin-top: 100px;
}

/*==================================================
=            		Media Queries            	   =
==================================================*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 22, ../sass/common/_media.scss */
  .admin .leftbar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
    border-right: 1px solid #e7e7e7;
  }
  /* line 30, ../sass/common/_media.scss */
  .admin .container {
    margin: 0 0 0 250px;
    padding: 0 30px;
    position: inherit;
    height: 100%;
  }
}
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 69, ../sass/common/_media.scss */
  .admin .navbar-right {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 50px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
