.navbar {

	/*
	*
	* User panel on navbar
	* 
	*/
	.dropdown-user > li > div {
	    min-width: 305px;
	    padding: 10px 10px 0 10px;
		.text-strong {
			text-transform: capitalize;
		}

		img {
			height:80px;
			width:80px;
		}

	}

	.session {
	    padding: 0 10px;
	}




	
}